@import "color";

@mixin tooltip-mixin($color) {
    color: $color;
    display: none;
    width: fit-content;
    margin-left: auto;
    margin-right: 0px;
}

.input-group {
    &.inline-row {
        display: inline-flex;
        flex-direction: row;
    }

    &.row {
        display: flex;
        flex-direction: row;
    }

    .input-label {
        display: block;
        color: #444;
    }

    .input-group-text, input[type=text], input[type=password], textarea, button {
        box-sizing: border-box;
        border: none;
        outline: 1px solid #AAA;

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }

    input[type=text], input[type=password] {
        height: 40px;
        width: 100%;

        will-change: outline-color;
        transition: outline-color 0.3s ease-in-out;

        &:focus, &:focus-visible {
            outline-color: $color-primary;
        }

        &:disabled, &:read-only {
            color: #777;
        }
    }

    .invalid-tooltip {
        @include tooltip-mixin($color-error);
    }

    .valid-tooltip {
        @include tooltip-mixin($color-info);
    }

    &.valid {
        input[type=text], input[type=password] {
            outline-color: $color-info;
        }

        .valid-tooltip {
            display: block;
        }
    }

    &.invalid {
        input[type=text], input[type=password] {
            outline-color: $color-error;
        }

        .invalid-tooltip {
            display: block;
        }
    }

    textarea {
        font-size: 12pt;
        box-sizing: border-box;
        width: 100%;
        resize: vertical;
    }
}