@import "color";

.post {
    box-shadow: 0px 8px 16px 0px $color-shadow;

    .post-header {
        padding: 20px 30px;
        border: none;
        border-bottom: 1px solid darken($white, 5%);

        .post-title {
            text-align: center;
        }

        .post-writer {
            text-align: center;
            color: darken($white, 40%);
        }
    }

    .post-body {
        padding: 50px 80px;
    }
}