.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #AAA;
    border-radius: 3px;

    th, td {
        padding: 10px;
    }

    thead th {
        text-align: start;
        background-color: #555;
        color: #FFF;
    }

    th:last-child, td:last-child {
        width: min-content;
    }

    tr {
        &:nth-child(odd) {
            background-color: #FFF;
        }

        &:nth-child(even) {
            background-color: #CCC;
        }
    }
}