footer.footer
    .container
        p Powered by #[a(href="https://http://expressjs.com") Express]
        p Icons by #[a(href="https://material.io") Material Design]
        p Codes: #[a(href="https://github.com/numver8638/WebProject") https://github.com/numver8638/WebProject]